/* INIZIO RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* FINE RESET */

:root {
    --color-orange: #FF6900;
    --color-red: #FF0000;
    --color-green: #008000;
    --color-dark: #1A1A1A;
}

/* HEADER STUFF */
header {
    background-color: var(--color-orange);
    box-shadow: black 0px 0px 5px;
}

nav {
    min-height: 70px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav ul a li {
    display: inline-block;
    list-style: none;
    padding: 0.2rem;
    font-weight: 700;
}

nav ul a {
    text-decoration: none;
    color: white;
}

/* END HEADER STUFF */

main {
    padding: 4rem 0;
    max-width: 1400px;
    margin: 0 auto;
}

.mainbody {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: calc(100% / 3);
}

.wholeproduct{
    padding-bottom: 3rem;
}

.mainbody span {
    font-size: 0.9rem;
}

.productimg img {
    max-height: 655px
}

.productimg {
    position: relative;
}

.imgtags {
    position: absolute;
    bottom: 50px;
}

.sale {
    padding: 0.3rem;
    color: white;
    font-weight: 700;
    background-color: var(--color-red);
}

.eco {
    padding: 0.3rem;
    color: white;
    font-weight: 700;
    background-color: var(--color-green);
}

.favourites {
    padding: 0.8rem;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0px;
}

.newprice {
    color: var(--color-red);
    font-weight: 700;
}

.oldprice {
    text-decoration: line-through;
}

footer{
    background-color: var(--color-dark);
}

.footer-container{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.footer-row h4,h5{
    color: white;
    padding-bottom: 1rem;
}

.footer-row ul{
    list-style: none;
}

.footer-row ul a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding-right: 0.5rem;
    font-size: 0.9rem;
}

ul.social-list a li{
    font-size: 1.3rem;
}